/*Font face*/
@font-face {
   font-family: "Poppins";
   src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"),
       url("../fonts/Poppins-SemiBold.woff") format("woff");
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Poppins";
   src: url("../fonts/Poppins-ExtraLight.woff2") format("woff2"),
       url("../fonts/Poppins-ExtraLight.woff") format("woff");
   font-weight: 200;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Poppins";
   src: url("../fonts/Poppins-Regular.woff2") format("woff2"),
       url("../fonts/Poppins-Regular.woff") format("woff");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}
/*Global Styles*/
*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/*Body*/
body{
   font-family: "Poppins", sans-serif;
   font-size: 15px;
   font-weight: normal;
   line-height: 1.5;
   background-color: #fafafa;
   color: #a3a5ae;
}

/*Container*/
.container {
   width: 100%;
   max-width: 1140px;
   padding: 0px 15px;
   margin: 0 auto;
}

/*Card*/
.card {
   padding: 60px 0px;
}
.card__header {
   text-align: center;
   margin: 0px 0px 65px 0px;
}
.card__title {
   font-weight: 200;
   color: #4c4e61;
}
.card__heading {
   font-weight: 600;
   color: #4c4e61;
   margin: 0px 0px 20px 0px;
}
.card__items {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.card__item {
   padding: 33px;
   border-radius: 4px;
   box-shadow: 0 0 10px #a3a5ae80;
}
.bt-succes{
   border-top: 4px solid #45d3d3;
}
.bt-warning{
   border-top: 4px solid #ea5353;
}
.bt-danger{
   border-top: 4px solid #fcaf4a;
}
.bt-info{
   border-top: 4px solid #549ef2;
}
.item{
   width: 31.33%;
}
.card__inner .card__item:not(:last-child){
   margin: 0px 0px 30px 0px;
}
.card__subtitle {
   color: #4c4e61;
   font-size: 20px;
   font-weight: 600;
   margin: 0px 0px 15px 0px;
}
.card__text {
   margin: 0px 0px 40px 0px;
}
.card__icon {
   width: 64px;
   height: 64px;
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   margin: 0px 0px 0px auto;
}
.bg-super{
   background-image: url(../images/icon-supervisor.svg);
}
.bg-team{
   background-image: url(../images/icon-team-builder.svg);
}
.bg-karma{
   background-image: url(../images/icon-karma.svg);
}
.bg-calc{
   background-image: url(../images/icon-calculator.svg);
}

/*Media Query*/
@media (max-width: 1024px) {
   .card__items {
      flex-direction: column;
   }
   .item{
      width: 80%;
   }
   .card__inner .card__item:not(:last-child),
   .item:not(:last-child)
   {
      margin: 0px 0px 30px 0px;
   }
}
@media (max-width: 425px) {
   .card__title {
      font-size: 24px;
   }
   .card__heading {
      font-size: 24px;
   }
   .card__header-text {
      font-size: 15px;
      padding: 0px 30px;
   }
   .item{
      width: 95%;
   }
   .card__item {
      padding: 28px;
   }
   .card__text {
      margin: 0px 0px 30px 0px;
   }
   .card__icon {
      width: 60px;
      height: 60px;
   }
}
@media (max-width: 375px) {
   .card__title {
      font-size: 20px;
   }
   .card__heading {
      font-size: 20px;
   }
   .card__header-text {
      font-size: 13px;
      padding: 0px 15px;
   }
   .item{
      width: 95%;
   }
   .card__item {
      padding: 25px;
   }
   .card__text {
      margin: 0px 0px 30px 0px;
   }
   .card__icon {
      width: 60px;
      height: 60px;
   }
}